export(as.year)
export(eof)
export(get.peltier2004.url)
export(get.colorado.url)
export(get.hadslp2.url)
export(get.psmsl.url)
export(read.peltier2004)
export(read.colorado)
export(read.hadslp2)
export(read.psmsl)
export(nodal.fit)
export(polynomial.fit)
export(trim)
import(ncdf4)
import(sp)
import(zoo)
import(plyr)
import(stringr)
